# Stuff that pops up locally for me - @jeremyfelt
*.sublime*
.DS_Store
.idea

# Because this really is a working directory, ignore vagrant's files
/aws/.vagrant
/local/.vagrant

# This is a file intended for hooking in a custom Vagrant configuration on up
/aws/Customfile
/local/Customfile

# Allow for custom provisioning scripts that are not included with the repo
/aws/provision/provision-custom.sh
/aws/provision/provision-pre.sh
/aws/provision/provision-post.sh
/local/provision/provision-custom.sh
/local/provision/provision-pre.sh
/local/provision/provision-post.sh

# Ignore custom trigger scripts in config/homebin.
/aws/config/homebin/vagrant_halt_custom
/aws/config/homebin/vagrant_suspend_custom
/aws/config/homebin/vagrant_destroy_custom
/local/config/homebin/vagrant_halt_custom
/local/config/homebin/vagrant_suspend_custom
/local/config/homebin/vagrant_destroy_custom

# No need to share individual site configs with each other
/aws/config/nginx-config/sites/*.conf
/local/config/nginx-config/sites/*.conf

# Ignore anything in the 'custom' directory in config
/aws/config/custom/*
/local/config/custom/*

# Ignore a custom bash_prompt if it exists
/aws/config/bash_prompt
/local/config/bash_prompt

# No need to share our mysql data with each other
/aws/database/data/*
/local/database/data/*

# Log files should be ignored.
/aws/log/*.log
/local/log/*.log

# No need to share our individual sites with each other
/aws/www/*
/local/www/*

# And no need to share individual SQL files with each other
*.sql
*.sql.gz

# BUT....

# We do have some default nginx configs that should be included
!/aws/config/nginx-config/sites/default.conf
!/local/config/nginx-config/sites/default.conf

# And we do have a default SQL file that should be included
!/aws/database/init.sql
!/local/database/init.sql

# And we provide our default host names in a dat file.
!/aws/www/vvv-hosts
!/local/www/vvv-hosts

# Do not ignore default folder
!/aws/www/default/
!/local/www/default/